<footer>
    <p id="about-rights">@PrinceAhirwar all rights reserved</p>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">profile</a>
        </li>
        
    </ul>
</footer>