<h2>Sign Up</h2>

<form action="/users/create" method = "POST">
    <input type="text" name ="name" id="user_name" required placeholder="Enter Names">
    <input type="email" name="email" id="email" required placeholder="Enter Email">
    <input type="password" name="password" id="password" required placeholder="Enter Password">
    <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm Password">
    <button type = "submit">Sign Up</button>
</form>