<h2>Sign Up</h2>

<form action="/users/signup" method = "POST">
    <h1>New user</h1>
    <label for="email">Enter Your Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Enter Password</label>
    <input type="password" name="password" id="password" required>
    <label for="user_name">Enter Your Name</label>
    <input type="text" name ="name" id="user_name" required>
    <button type = "submit">Sign Up</button>
</form>